<div class="Footer">
  <div class="Footer__col">
    <div class="Footer__item">
      <img
        src="https://hcmuni.fpt.edu.vn/Data/Sites/1/media/logo-footer.png"
        alt=""
        style="width: 250px"
      />
    </div>
    <span class="Footer__item">© Bản quyền thuộc về Đại học FPT.</span>
    <span class="Footer__item">
      <div class="Footer__item-title">TRƯỜNG ĐẠI HỌC FPT</div>
      <div>
        Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức,
        TP.HCM.
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon> phone</mat-icon>
        <span>(028) 7300 5588</span>
      </div>
      <div class="Footer__item-contact">
        <mat-icon> email</mat-icon>
        <span>daihoc.hcm@fpt.edu.vn</span>
      </div>
    </span>
  </div>
  <div class="Footer__col">
    <span class="Footer__item">
      <div class="Footer__item-title">NGÀNH ĐẠO TẠO</div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Kinh doanh quốc tế</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Tài chính</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>An toàn thông tin</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Truyền thông đa phương tiện</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Hệ thống thông tin</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Quản trị dịch vụ du lịch & lữ hành</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Ngôn ngữ Anh - Trung</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Ngôn ngữ Hàn Quốc</span>
      </div>
    </span>
  </div>
  <div class="Footer__col">
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Digital Marketing</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Kỹ thuật phần mềm</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Trí tuệ nhân tạo</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Thiết kế kỹ thuật số</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Quản trị khách sạn</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Ngôn ngữ Anh - Anh</span>
      </div>
    </span>
    <span class="Footer__item">
      <div class="Footer__item-contact">
        <mat-icon>arrow_forward</mat-icon>
        <span>Ngôn ngữ Nhật</span>
      </div>
    </span>
  </div>
</div>
