<div class="Navbar">
  <ul class="Navbar__list">
    <li class="Navbar__item"><mat-icon>home</mat-icon></li>
    <li class="Navbar__item">Giới thiệu</li>
    <li class="Navbar__item">Ngành đào tạo</li>
    <li class="Navbar__item">Tuyển sinh</li>
    <li class="Navbar__item">Tin tức</li>
    <li class="Navbar__item">Đời sống sinh viên</li>
    <li class="Navbar__item">Đăng kí</li>
    <li class="Navbar__item" [routerLink]="['/auth/sign-in']">Đăng nhập</li>
    <li class="Navbar__item">Liên hệ</li>
  </ul>
</div>
