<div class="Table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container *ngFor="let col of columns">
      <div [ngSwitch]="col.colName">
        <div *ngSwitchCase="">output</div>
        <div *ngSwitchDefault>
          <div [matColumnDef]="col.colName">
            <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
            <td mat-cell *matCellDef="let element">{{ element[col.data] }}</td>
          </div>
        </div>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
